:root {
  --gb-dm-bg0: #282828;
  --gb-dm-bg0-hard: #1d2021;
  --gb-dm-bg0-soft: #32302f;
  --gb-dm-bg1: #3c3836;
  --gb-dm-bg2: #504945;
  --gb-dm-bg3: #665c54;
  --gb-dm-bg4: #7c6f64;

  --gb-dm-dark-red: #cc241d;
  --gb-dm-dark-green: #98971a;
  --gb-dm-dark-yellow: #d79921;
  --gb-dm-dark-blue: #458588;
  --gb-dm-dark-purple: #b16286;
  --gb-dm-dark-aqua: #689d6a;
  --gb-dm-dark-orange: #d65d0e;
  --gb-dm-dark-gray: #928374;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--gb-dm-bg0);
  font-family: "Arial";
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
