.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  row-gap: 20px;
}

.categoriesContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  row-gap: 10px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 20px;
  row-gap: 20px;
  margin: 0 10px;
}

.categoryContainer {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.statisticsContainer {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.controlsContainer {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.items {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  width: 350px;
}

.itemControl {
  margin-right: 4px;
}
